<!-- <h1>Upcoming Screenings</h1>
<% if @cinefile %>
  <% if @list_count == 0 %>
    Sadly there are no upcoming screenings for the films in your Cinefile.
  <% else %>
    <%= @user.username %>, check out the following screening information for your Cinefile films.
  <% end %><br /> -->

  <!-- <% else %>
    You have not added any films to your Cinefile.<br />
    Please add films first so we can keep you updated of any screenings :)
  <% end %> -->
