<h3>List of All Locally Stored Films - Temp Code</h3>

<% if @films.any? %>
  <% @films.each do |film| %><br>
    <%= film.title %><br>
    Tmdb_id <%= film.tmdb_id %><br>
    Film_id (local) <%= film.id %><br>
    <%= link_to "Delete #{film.tmdb_id}", film_path(film), method: :delete %> <br>
  <% end %>
<% end %>
