// Place all the styles related to the cinefile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.img-rounded {
  border-radius: 18px !important;
}

.title {
  margin-bottom: -15px !important;
  color: rgb(99, 99, 99);
  // font-family: 'Baloo Paaji';
}

.form {
  color: #5a5854;
  background-repeat: no-repeat;
}

input:focus {
  background-color: #ffffff;
  border: 1px solid #b1e1e4;
}

input#film {
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  background-image: url("http://image.flaticon.com/icons/png/512/1/1854.png");
  background-size: 17px 17px;
  background-position: center left;
  background-repeat: no-repeat;
  padding-left: 25px;
  background-color: #f2f2f2;
  margin-left: 10px;
  margin-right: 10px;
}

.submit {
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  background-color: #f2f2f2;
}

.upcoming {
  height: 70px;
}

div.films_with_upcoming_screenings {

}

.title_with_screening {
  color: rgb(237, 9, 25);
}

.totals {
  font-size: 20pt;
  color: #428bca !important;
}

#label {
  color: rgb(65, 65, 65);
  font-family: 'Coolvetica';
}
