// Place all the styles related to the cinefile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.img-rounded {
  border-radius: 18px !important;
}

.title {
  margin-bottom: -15px !important;
  color: rgb(99, 99, 99);
}
