body {
  font-family: "Coolvetica" !important;
}

.logo {
  margin-top: 10px;
  height: 30px;
}

.title {
  margin-bottom: -15px !important;
  color: rgb(99, 99, 99);
  // font-family: 'Baloo Paaji';
}

.title-screening {
  margin-bottom: -15px !important;
  margin-top: 0px !important;
  color: rgb(99, 99, 99);
  // font-family: 'Baloo Paaji';
}

.bottom-margin {
  margin-bottom: -10px !important;
}

.img-screenings {
  height: 200px;
}
